{
  :discord-admin-channel-id ""
  :discord-announcement-channel-id ""
  :discord-server-channel-ids [""]
  :discord-test-user-ids [""]
  :discord-token ""
  :ebot-admin-user ""
  :ebot-admin-pass ""
  :ebot-base-url ""
  :server-id-range [1 17]
  :toornament-api-key ""
  :toornament-client-id ""
  :toornament-client-secret ""
}
