{
  :discord-admin-channel-id ""
  :discord-announcement-channel-id ""
  :discord-guild-id ""
  :discord-server-channel-ids [""]
  :discord-test-user-ids [""]
  :discord-token ""
  :ebot-admin-user ""
  :ebot-admin-pass ""
  :ebot-base-url ""
  :game-server-password
  :map-pool ["de_inferno" "de_overpass" "de_train" "de_shortnuke" "de_vertigo"]
  :server-id-range [1 17]
  :toornament-api-key ""
  :toornament-client-id ""
  :toornament-client-secret ""
}
